.genre-view{
  margin-top: 10px;
  font-size: x-large;
}

.genre-view #return{
  margin-top:10px;
  font-size: x-large;
}

.genre-movies{
  margin-top: 20px;
}

.movie-div .genre-movie-cards{
 padding-right: 2.5px;
 padding-left: 2.5px;
}