
#seemore {
  padding:0%;
  border: 0px solid transparent;
}
.simp-card-content{
  text-decoration: none;
  color:black;
  text-align: center;
}
.simp-card-content:hover {
  text-decoration: none;
  color:black;
}