.director-view{
  margin-top: 10px;
  font-size: x-large;
}

.director-view #return{
  margin-top:10px;
  font-size: x-large;
}

.director-movies{
  margin-top: 20px;
}

.movie-div .dir-movie-cards{
  padding-right: 2.5px;
  padding-left: 2.5px;
 }